.link {
    text-decoration: none;
    color: blue;
}

.title {
    font-family: "Arial";
    color: white;
}

.desc {
    font-family: "Arial";
    color: white;
}

body {
    vertical-align: center;
    background-image: url("https://wallpapercave.com/wp/wp4667228.jpg");
    backdrop-filter: blur(10px);
}