@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.link {
    text-decoration: none;
    color: blue;
}

.title {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.desc {
    color: white;
}

.content-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    font-family: 'Open Sans', sans-serif;
    vertical-align: center;
    background-image: url("https://wallpapercave.com/wp/wp4667228.jpg");
    backdrop-filter: blur(10px);
}